# Dependencies
node_modules

# Environment variables
.env
.env.*
!.env.example

# Build output
dist
/generated/prisma
*.tsbuildinfo

# Test coverage
coverage

# Logs
*.log
npm-debug.log*
logs

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Misc
*.pem
.npmrc
